@CHARSET "UTF-8";

.panelGridCenter {
	/* 	margin: 0 auto; */
	/* 	text-align: center; */
	width: 400px; /* largeur du bloc */
	padding: 10px; /* aération interne du bloc */
	border: 1px solid #fff;
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2; /* on rétablit le line-height */
	text-align: left; /* ... et l'alignement du texte */
}

.lienCenter {
	text-align: center;
	margin: 0 auto;
}